@*@model IEnumerable<Quanlixe.Models.LenhDieuXe>*@
@model PagedList.IPagedList<Quanlixe.Models.LenhDieuXe>
@using PagedList.Mvc;



@{
    ViewBag.Title = "Danh sách lệnh điều xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentMonth = ViewBag.Month;
    var currentYear = ViewBag.Year;
}

<!-- Thêm một số CSS để làm giao diện đẹp hơn -->
<style>
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: #333;
    }
    a {
        font-size: 0.8rem;
    }

    .search-form {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
    }

        .search-form input[type="text"] {
            flex: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .search-form button {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
        }

            .search-form button:hover {
                background-color: #0056b3;
            }

    .btn-primary {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
        color: #333;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .action-links a {
        text-decoration: none;
        color: #007bff;
        margin-right: 10px;
    }

        .action-links a:hover {
            text-decoration: underline;
        }

    .pagination {
        margin: 20px 0;
        text-align: center;
    }

        .pagination a {
            padding: 10px 15px;
            margin: 0 5px;
            border: 1px solid #ddd;
            border-radius: 4px;
            color: #007bff;
            text-decoration: none;
        }

            .pagination a:hover {
                background-color: #f4f4f4;
            }

        .pagination .current {
            padding: 10px 15px;
            margin: 0 5px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
        }
        .top{
            margin-top:20px;
        }



</style>

<div class="container top">
    <h2>Danh sách lệnh điều xe</h2>

    @using (Html.BeginForm("Index", "LenhDieuXes", FormMethod.Get, new { @class = "search-form" }))
    {
        <input type="text" name="searchTerm" placeholder="Tìm kiếm theo họ tên người dùng xe" value="@Request.QueryString["searchTerm"]" />
        <select name="month">
            <option value="">Chọn tháng</option>
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i" @(Request.QueryString["month"] == i.ToString() ? "selected" : "")>@i</option>
            }
        </select>
        <select name="year">
            <option value="">Chọn năm</option>
            @for (int i = DateTime.Now.Year - 1; i <= DateTime.Now.Year + 5; i++)
            {
                <option value="@i" @(Request.QueryString["year"] == i.ToString() ? "selected" : "")>@i</option>


            }
        </select>
        <input type="hidden" name="size" value="@ViewBag.currentSize" />
        <button type="submit">Tìm kiếm</button>
        <div class="d-flex flex-column justify-content-center">
            <a href="@Url.Action("Index", new { size = ViewBag.currentSize })" class="btn btn-secondary btn-lg text-center">Reset</a>
        </div>
    }


    <p>
        <a href="@Url.Action("Create", "LenhDieuXes")" class="btn-primary">Thêm mới</a>
        <a href="@Url.Action("ExportToExcel", "LenhDieuXes",new { month = currentMonth, year = currentYear, searchTerm = Request.QueryString["searchTerm"] })" class="btn-primary" style="margin-left:5px">Xuất lịch trình</a>
    </p>

    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Họ tên lái xe</th>
                    <th>Họ tên người dùng xe</th>
                    @*<th>Loại nhiên liệu</th>*@
                    @*<th>Chức vụ</th>*@
                    <th>Xe</th>
                    <th>Ngày đi</th>
                    <th>Ngày về</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <!-- Số thứ tự (STT) -->
                        <td>@((Model.PageNumber - 1) * Model.PageSize + i + 1)</td>
                        <!-- Các cột dữ liệu khác -->
                        <td>@Html.DisplayFor(modelItem => Model[i].LaiXe.HoTenLaiXe)</td>
                        <td>@Html.DisplayFor(modelItem => Model[i].NguoiDungXe.HoTenNguoiDungXe)</td>
                        @*<td>@Html.DisplayFor(modelItem => Model[i].LoaiNhienLieu)</td>*@
                        @*<td>@Html.DisplayFor(modelItem => Model[i].ChucVu.TenChucVu)</td>*@
                        <td>@Html.DisplayFor(modelItem => Model[i].Xe.TenBienKiemSoat)</td>
                        @*<td>@Html.DisplayFor(modelItem => Model[i].NgayDi)</td>*@
                        <td>@String.Format("{0:dd/MM/yy}", Model[i].NgayDi)</td>
                        <td>@String.Format("{0:dd/MM/yy}", Model[i].NgayVe)</td>

                        <td>
                            @if (Model[i].Status == true)
                            {
                                <span style="color: green; font-weight: bold;">Hoàn thành</span>
                            }
                            else
                            {
                                <span style="color: red; font-weight: bold;">Chưa hoàn thành</span>
                            }
                        </td>


                        <!-- Trường ẩn ID -->
                        @Html.HiddenFor(modelItem => Model[i].ID)

                        <!-- Cột hành động -->
                        <td class="action-links">
                            @Html.ActionLink("Sửa", "Edit", new { id = Model[i].ID }, new { @class = "btn btn-warning btn-sm text-white" })
                            @Html.ActionLink("Xem", "Details", new { id = Model[i].ID }, new { @class = "btn btn-info btn-sm text-white" })
                            <a href="javascript:void(0);" onclick="showDeleteModal(@Model[i].ID)" class="btn btn-danger btn-sm text-white">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
            @using (Html.BeginForm("Index", "LenhDieuXes", FormMethod.Get))
            {
                <p>
                    Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                </p>
            }
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm justify-content-center">
                        <!-- Nút Previous (Trước) -->
                        <li class="page-item @((Model.HasPreviousPage) ? "" : "disabled")">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">Previous</a>
                        </li>

                        <!-- Các số trang -->
                        @if (Model.PageCount <= 5)
                        {
                            <!-- Nếu tổng số trang ít hơn hoặc bằng 5, hiển thị tất cả -->
                            for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="page-item @((i == Model.PageNumber) ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            <!-- Nếu số trang nhiều hơn 5, hiển thị các trang đầu, trang cuối và dấu ba chấm -->
                            if (Model.PageNumber <= 3)
                            {
                                for (int i = 1; i <= 3; i++)
                                {
                                    <li class="page-item @((i == Model.PageNumber) ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">@i</a>
                                    </li>
                                }
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">@Model.PageCount</a>
                                </li>
                            }
                            else if (Model.PageNumber >= Model.PageCount - 2)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { page = 1, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">1</a>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                                for (int i = Model.PageCount - 2; i <= Model.PageCount; i++)
                                {
                                    <li class="page-item @((i == Model.PageNumber) ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">@i</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { page = 1, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">1</a>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                                for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                                {
                                    <li class="page-item @((i == Model.PageNumber) ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", new { page = i, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">@i</a>
                                    </li>
                                }
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">@Model.PageCount</a>
                                </li>
                            }
                        }

                        <!-- Nút Next (Sau) -->
                        <li class="page-item @((Model.HasNextPage) ? "" : "disabled")">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, iddaihoi = ViewBag.IDDaiHoi, idkhuvuc = ViewBag.IDKhuVuc, searchID = Request["searchID"], size = ViewBag.currentSize })">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>



    </div>








    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize, searchTerm = Request.QueryString["searchTerm"] }), PagedListRenderOptions.Classic)*@




    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" onclick="hideModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa lệnh điều xe này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="hideModal()">Quay lại</button>
                    <form id="deleteForm" method="post" action="">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*@if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }*@

    <script>
        function showDeleteModal(id) {
            var form = document.getElementById("deleteForm");
            form.action = '@Url.Action("Delete", "LenhDieuXes")/' + id;
            $('#deleteModal').modal('show');
        }
        function hideModal() {
            $('#deleteModal').modal('hide'); // Đóng modal
        }



    </script>


</div>
